meta.resourceType should be the Resource Types' name, not ID

See [RFC 7643, Section 3.1](https://datatracker.ietf.org/doc/html/rfc7643#section-3.1)

>       resourceType  The name of the resource type of the resource.  This
>        attribute has a mutability of "readOnly" and "caseExact" as
>        "true".
